@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;

  font-family: var(--font-bree);
}

@theme {
  --color-primary: #DF2144;
  --font-bree: "Bree Serif", serif;
}

.swiper-button-next,
.swiper-button-prev {
  color: #DF2144 !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #cf072c !important;
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px !important;
  font-weight: bold;
}